{{- if not .Values.secrets.external.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "servanda-office.secretName.db" . }}
  namespace: {{ include "servanda-office.namespace" . }}
  labels:
    {{- include "servanda-office.labels" . | nindent 4 }}
type: Opaque
data:
  url: {{ .Values.secrets.databaseUrl | b64enc | quote }}
  {{- if .Values.postgresql.enabled }}
  host: {{ printf "%s-postgres" (include "servanda-office.fullname" .) | b64enc | quote }}
  port: {{ "5432" | b64enc | quote }}
  username: {{ .Values.postgresql.credentials.username | b64enc | quote }}
  password: {{ .Values.postgresql.credentials.password | b64enc | quote }}
  dbname: {{ .Values.postgresql.credentials.database | b64enc | quote }}
  {{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "servanda-office.secretName.s3" . }}
  namespace: {{ include "servanda-office.namespace" . }}
  labels:
    {{- include "servanda-office.labels" . | nindent 4 }}
type: Opaque
data:
  S3_ENDPOINT: {{ .Values.secrets.s3.endpoint | b64enc | quote }}
  S3_ACCESS_KEY: {{ .Values.secrets.s3.accessKey | b64enc | quote }}
  S3_SECRET_KEY: {{ .Values.secrets.s3.secretKey | b64enc | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "servanda-office.secretName.oidc" . }}
  namespace: {{ include "servanda-office.namespace" . }}
  labels:
    {{- include "servanda-office.labels" . | nindent 4 }}
type: Opaque
data:
  OIDC_CLIENT_SECRET: {{ .Values.secrets.oidcClientSecret | b64enc | quote }}
{{- end }}
