apiVersion: apps/v1
kind: Deployment
metadata:
  name: servanda-api
spec:
  template:
    spec:
      containers:
        - name: servanda-api
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "250m"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: servanda-export-worker
spec:
  template:
    spec:
      containers:
        - name: servanda-export-worker
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: servanda-postgres
spec:
  template:
    spec:
      containers:
        - name: postgres
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
